- cache('welcome') do
  #splash-wrap
    #splash-nav
      %div{:'data-magellan-expedition'=>"fixed"}
        %dl{class: "sub-nav"}
          %dd{:'data-magellan-arrival'=>"welcome"}
            %a{href: "#welcome"}
              Welcome
          %dd{:'data-magellan-arrival'=>"gettingstarted"}
            %a{href: "#gettingstarted"}
              Start
          %dd{:'data-magellan-arrival'=>"support"}
            %a{href: "#support"}
              Support
          %dd{:'data-magellan-arrival'=>"explore"}
            %a{href: "/meow#popular"}
              Music
          %dd{:'data-magellan-arrival'=>"explore"}
            %a{href: "/meow#login"}
              Login

    #splash.page
      %a{name: "welcome",
         :'data-magellan-destination' => "welcome"}

      #logo
        = image_tag("stereopaw-logo-main.png", width: "76px", height: "125px", alt: "stereopaw")

      %h1#title Bookmark Your Streaming Music
      %h2#title.subheader Remember The Mix!
      %h3#tag
        Save time-stamped tracks with the stereopaw Chrome Extension or Bookmarklet
      %h4#tag
        Supports YouTube and SoundCloud

      #signage
        = render :partial => "submit/installbuttons"          

        %p.haveaccount
          Have an account?
          %a{:href => "/meow#login"} Log in.

        %p.tothemusic
          Just take me to the
          %a{:href => "/meow"} Music.


    %a{name: "gettingstarted",
       class: "topspacer",
       :'data-magellan-destination' =>"gettingstarted"}
    #gettingstarted.row
      .small-12.large-12.columns
        %h2
          = image_tag("stereopaw-logo-main.png", class:"cat")
          Getting Started
        %hr
        #description
          %br
          %h3
            stereopaw is a streaming music bookmarklet side project.
          %br
          %ul.problems
            %li
              Can't remember when that track drops in a mix?
            %li
              Tired of favorites scattered across music services?
            %li
              Want to easily share a snippet of a mix?


        %h4.tidbit
          = image_tag("paw28.png", class: 'paw')
          Get your paws on the browser extension or bookmarklet.
        %h6
          The browser extension allows timestamped playback across all supported sites. Please consider installing the extension.

        = render :partial => "submit/installbuttons"

    #how-to.row
      .small-12.large-12.columns
        %h4.tidbit
          = image_tag("paw28.png", class: 'paw')
          When you hear something you like, click the extension (or marklet) on the page.

        %p.extension-img-wrap
          = image_tag("extension.png", :class => "extension-img")

        %h4.tidbit
          = image_tag("paw28.png", class: 'paw')

          Submit the track at the time you want saved. Visit
          %a{href: "/meow"} the stereopaw homepage
          to listen, share, and hear the best part of the track.

        %p.marklet-img-wrap
          = image_tag("marklet.png", :class => "marklet-img", :width => "435px", :height => "274px")


    %a{name: "support",
       class: "topspacer",
       :'data-magellan-destination' =>"support"}
    #support.row
      .small-12.large-12.columns
        %h2
          = image_tag("stereopaw-logo-main.png", class:"cat")
          Support
        %hr
        %br
        %h4
          stereopaw is slowly adding services. Bookmarking is available on the following services.
        %ul.services
          %li
            Soundcloud
          %li
            YouTube

        %h4
          For ideal audio streaming, your browser/os needs to support partial http range requests for mp3.
        %ul.services
          %li Windows 7: Chrome (v 34.0.1847.116), IE 9+
          %li Linux: Chrome (v 34.0.1847.116)
          %li Mac: (sorry, don't own one!)

        %hr
        %h5.notebene
          stereopaw is a side project to "scratch an itch." Only meta data is stored. Use at your own risk, etc. Feedback and questions are most welcome - send an email to: admin@stereopaw.com. Enjoy!

        %br
        %br

  = render :partial => 'tracks/modal', :locals => {:markletURL => ENV['markletURL']}

  %footer    
