<!DOCTYPE html>
<html>
<head>
  <title>SoundByte</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<script> 
  <% if Rails.env == 'test' || Rails.env == 'production' %>
  <%= "var console = {}; console.log = function(){};"  %>
  <% end %>
</script>  

</head>
<body>

<%= yield %>

</body>
<div id="soundcloud_key" data=<%= "#{ENV['SOUNDCLOUD_KEY']}" %> ></div>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<footer></footer>
</html>
