<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://www.stereopaw.com" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/gcgoenndigjegpgpfnnmgfnbiollgimk" />

    <%= render "/main/meta" %>

    <title><%= content_for?(:title) ? yield(:title) : "The Streaming Music Bookmarking Service | stereopaw" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include params[:controller] %>
    <%= render "analytics/google" %>
    <footer></footer>
  </body>
</html>
