<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "SpinClip" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="soundcloud_key" data=<%= "#{ENV['SOUNDCLOUD_KEY']}" %> ></div>
    <%= yield %>


    <% if Rails.env == 'test' || Rails.env == 'production' %>

    <%=
       "<script>
	var console = {}; console.log = function(){};
	</script>".html_safe
       %>

    <% end %>


    <%= javascript_include_tag "application" %>

    <footer></footer>
  </body>
</html>
