.track{:id => "#{track.id}"}
  .track-artist #{track.artist}
  .track-title #{track.title}
  .track-profile-url #{track.profile_url}
  .track-page-url #{track.page_url}
  .track-timeformat Time: #{track.timeformat}
  .track-comment #{track.comment}
  .track-duration #{track.duration.to_s}
  .track-timestamp #{track.timestamp.to_s}
