%h1 Tracks#new

= form_for @track do |f|
  
  = f.label :artist
  = f.text_field :artist

  = f.label :title
  = f.text_field :title

  = f.label :page_url
  = f.text_field :page_url

  = f.label :profile_url
  = f.text_field :profile_url

  = f.label :timeformat
  = f.text_field :timeformat

  = f.label :timeformat_optional
  = f.check_box :timeformat_optional

  = f.label :comment
  = f.text_area :comment, :size => "40x10", :maxlength => "1000"

  
  = f.hidden_field :track_id
  = f.hidden_field :shareable
  = f.hidden_field :timestamp
  = f.hidden_field :duration
  = f.hidden_field :service
  
  = f.submit :id => 'track_submit'